body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(125, 32, 32, 0.4);
    text-align: center;
}
.box h1{
    color: blueviolet;
    text-transform:capitalize;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"]
{
    border:0;
    background: none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:5px solid rgba(10, 25, 54, 0.185);
    padding:14px 10px;
    width:220px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
     width:270px;
     border-color: rgb(8, 6, 6);
}
.box input[type="button"]{
    border:0;
    background: none;
    display:inline-flexbox;
    margin:20px auto;
    text-align: center;
    border:3px solid rgba(1, 7, 2, 0.185);
    padding:14px 30px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="button"]:hover{
    background: rgba(2, 42, 12, 0.958);
}

